
.editorContainer {
  padding: 1em;
  margin: 1em;
}

button {
  border-radius: 2px;
  margin: 0.25em;
  width: 2.3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  line-height: 200%;
  border-radius: 3px;
  background-color: #efefef;
}

button.underline {
  text-decoration: underline;
}

.underline,
.bold,
.italic,
.highlight {
  font-size: 1em;
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
  font-size: 1em;
}


