/* The class names are in Testscreen.js  */


.testContainer {
    display: flex;
    margin-top: 10vh;
    height: 85vh;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: space-evenly;
}
.passageSection {
    background-color: rgba(210, 215, 211, 1);
    overflow-y: auto;
    overflow-x: auto; 
    width: 50%;
}

.questionSection {
    background-color: yellow;
    overflow-y: auto;
    overflow-x: auto; 
    width: 50%;

}

.editors {
    font-family: "ff-tisa-web-pro",serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    padding: 1em;
    flex: 0 0 100%; /* dont shrink, dont grow, say at the same widdth */
    white-space: nowrap;
}

.article2 {
    font-family: "ff-tisa-web-pro",serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    padding: 1em;
    flex: 0 0 100%; /* dont shrink, dont grow, say at the same widdth */
white-space: nowrap;
}
